@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory
@inject IConfiguration Configuration


<PageTitle>Index</PageTitle>

<h1>Diet application</h1>

<a href="mealnow">I want my daily meal list right now</a> <br>
@* <a href="#">want my daily meal list right a (2 days, week) !!WIP!!</a> *@

@code 
{

}